@CHARSET "UTF-8";

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.heightFill {
	height: 100%;
}
.content{
	position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    margin-top: 51px; 
}
.sidebar {
	z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
    padding:0;
}



.nav>li {
	position: relative;
	display: block;
}

.nav>li>a {
	font-family: Microsoft YaHei;
	color: #337ab7;
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: transparent;
}

.pull-center {
	margin-left: 10px;
	vertical-align: middle;
}